out/
.vscode-test/
node_modules/
VERSION
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/.ropeproject
.eslintcache
test/fixtures/testground/
test/fixtures/multiroot/
test/fixtures/**/*.dvi
test/fixtures/**/*.log
test/fixtures/**/*.synctex*
test/fixtures/**/*.fdb_latexmk
test/fixtures/**/*.blg
test/fixtures/**/*.out
test/log/
/*.vsix
.DS_Store
coverage/